<h1>Hello there, <%= @user.username %>. Welcome to your homepage</h1>

<form action="/users/<%= @user.username %>/notecards" method="GET">
    <input type="submit" value="Go to Notecards">
</form>

<form action="/users/<%= @user.username %>/edit" method="GET">
    <input type="submit" value="Edit Account">
</form>

<form action="/logout" method="GET">
    <input type="submit" value="Logout">
</form>