<h2>Concept: <%= @notecard.concept %></h2>
<h3>Definition: <i><%= @notecard.definition %></i></h3>

<hr>

<form action="/users/<%= current_user.username %>/notecards/<%= @notecard.id %>/edit" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <h2>Concept: <input type="text" name="notecard[concept]"></h2>
    <h3>Definition: <input type="text" name="notecard[definition]"></h3>
    <input type="submit" value="Confirm Changes">
</form>