<form action="/notecards/new" method="POST">
    <h1>Concept: <input type="text" name="notecard[concept]"></h1>
    <h1>Definition: <input type="text" name="notecard[definition]"></h1>
     <input type="submit" value="Create Notecard">
</form>