<h1>Welcome to Testday</h1>
<h3>Please either log in or sign up to create customizable notecards</h3>

<div class="homepage-links">
    <a href="/login">Log In</a>
    <br>
    <a href="/signup">Sign Up</a>
</div>